/*ahahhah*/
/*--Letra en general--*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*--HEADER--*/
.header{
	width: 80%;
	margin: auto;
	padding:5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.nom-joc{
    text-decoration: none;
	color: #999999;
	text-transform: uppercase;
}
.header ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.header ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.header ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}
.header ul li:hover::after{
	width: 100%;
}
.field button{
	height: 50px;
	width: 50px;
	color: #33FFB1;
	border-radius: 10%;
	border: none;
	cursor: pointer;
}
/*--FOOTER--*/
.footer{
	text-align: left;
	color: #999999;
}

.icon button{
	width: 50px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
	border-radius: 8px;
	color: lightseagreen;
	border: 1px solid;

}
/*--INICIO--*/
.banner{
	background-image: linear-gradient(#33FFB1, #1C7672);
}
.titulo_sub h1 h3{

 	color: #999999;
	font-family: 'Franklin Gothic Medium';
	align-items: flex-start;
	padding: 5px;
}
.content{
	text-align: justify;
}
.p1 , .p2 , .p3{
	background-color: #1C7672;
	border-radius: 10px;
	margin: 10%;
	display: flex;
	align-items: center;
	align-content: center;
}
.p1 h3, .p1 p, .p2 h3, .p2 p, .p3 h3, .p3 p{
	display: flex;
	flex-direction: column;

}
.p1 .img,.p2 .img,.p3 .img{
	height: 200px;
	width: auto;
	flex-direction: row-reverse;
}

.icon{
	text-align: right;
	
}

#searchterm{
	height: 50px;
	width: 150px;
	color: #33FFB1;
	border-radius: 10%;
	border: none;
	cursor:pointer;
	text-decoration: none;
}

/*--VIDEO--*/
.content2 iframe{
	height: 500px;
	width: auto;
}
.content2{
	text-align: justify;
}
#section1, #section2{
	background-color: #1C7672;
	border-radius: 5px;
	margin: 10%;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-basis: empty;
}

.l1::first-letter{
	font-size:200%;
  	float:left;
  	color:#999999;
}
.l2::first-letter{
	font-size:200%;
  	float:left;
  	color:#999999;
}
.vid{
	height: 200px;
	width: auto;
}

/*--AboutUs--*/
.content img{
	height: 250px;
	width: auto;
	padding: 30px;
}
.persona1, .persona2, .persona3, .persona4{
	display: flex;
	width: 75%;
	height: 300px;
	align-items: center;
	background-color: cadetblue;
	margin: 20px;
	border-radius: 15px;
	font-style: italic;
	font-size: small;
}


.perfil{
	margin-left: 25%;
}
/*--CONTACTO--*/
form{
	background-color: #999999;
	width: 50%; 
	margin-left: 25%;
	padding: 10%;
	align-items: center;
	font-family : inherit;
	font-size   : 100%;
}
form .row{
	color: #33FFB1;
	border-radius: 10px;
	height: 25px;
	width: 150px;
	text-decoration: none;
	margin-top: 5%;
}
.content h2{
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
	position: fixed;
	text-align: justify;
}
.content_contacto{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}