/*ahahhah*/
/*--Letra en general--*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*--HEADER--*/
.header{
	width: 80%;
	margin: auto;
	padding:5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.nom-joc{
    text-decoration: none;
	color: #999999;
	text-transform: uppercase;
}
.header ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.header ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.header ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}
.header ul li:hover::after{
	width: 100%;
}
.field button{
	height: 50px;
	width: 50px;
	color: #33FFB1;
	border-radius: 10%;
	border: none;
	cursor: pointer;
}
#searchterm{
	height: 50px;
	width: 150px;
	color: #33FFB1;
	border-radius: 10%;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
/*--FOOTER--*/
.footer{
	text-align: left;
	color: #999999;
}

.icon button{
	width: 50px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
	border-radius: 8px;
	color: lightseagreen;
	border: 1px solid;

}
.icon{
	text-align: right;	
}

/*--INICIO--*/
.banner{
	background-image: linear-gradient(#33FFB1, #1C7672);
}
.titulo_sub{
	color:#999999;
	font-family: 'Franklin Gothic Medium';
	margin-left: 25%;
}
.content{
	text-align: justify;
}
.p1 , .p2 , .p3{
	background-color: #1C7672;
	display: flex;
	border-radius: 10px;
	margin: 5%;
	height: 300px;
	width: 50%;
	margin-left: 25%;
	
}
.content .p1 .text,.content .p2 .text,.content .p3 .text{
	
	height: 200px;
	width: 70%;
	display: flex;
	flex-direction: column;
	padding-top: 10%;
}
.content .p1 .img,.content .p2 .img,.content .p3 .img{
	width: auto;
	height: 200px;
	padding: 30px;
	border-radius: 10px;
}



/*--VIDEO--*/
.content2{
	text-align: justify;
}
.content2 h2{
	margin-left: 25%;
	color: #999999;
}
#video1, #video2{
	background-color: #1C7672;
	border-radius: 10px;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	height: auto;
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}
#video1 p,#video2 p{
	font-size: small;
	text-align: justify;
	padding: 5%;
}
.vid_y, .vid{
	height: 250px;
	width: auto;
	border-radius: 10px;
}

.l1::first-letter{
	font-size:200%;
  	float:left;
  	color:#999999;
}
.l2::first-letter{
	font-size:200%;
  	float:left;
  	color:#999999;
}
#submit_button{
	height: 20px;
	width: 50px;
	color: #33FFB1;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}


/*--AboutUs--*/
.content h1{
	margin-left: 25%;
	color: #999999;
}
.content .perfil img{
	height: 150px;
	width: 150px;
	padding: 30px;
	border-radius: 50%;
}
.persona1, .persona2, .persona3, .persona4{
	display: flex;
	width: 60%;
	height: 300px;
	align-items: center;
	background-color: cadetblue;
	margin: 20px;
	border-radius: 15px;
	font-style: italic;
	font-size: small;
}
.perfil{
	margin-left: 25%;
}
.persona1 .texto, .persona2 .texto, .persona3 .texto, .persona4 .texto{
	height: 200px;
	width: 70%;
	display: flex;
	flex-direction: column;
	padding-top: 10%;
}
/*--CONTACTO--*/
#contact_form{
	background-color: #999999;
	height: 50%;
	width: 25%;
	align-content: center;
	margin-left: 25%;
	border-radius: 10px;
}
form .row{
	color: #33FFB1;
	padding: 2%;
}
.content h2{
	color: #fff;
	position: fixed;
	text-align: justify;
}
.input{
	height: 20px;
	width: 150px;
	border-radius: 10px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}


/*
.content_contacto{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}